main{
    height: 90vh;

    display: flex;
}

.section-channels{
    width: 300px;

    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.section-channels > h3{
    padding: 10px;
    text-align: center;
    background-color: var(--color-button1);
    color: var(--color-primary2);
}

.channels{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.channels > div {
    height: 100%;
}

.ch-buttons{
    display: flex;
    justify-content: center;

    padding: 10px;
}

.ch-buttons > button {
    width: 100%;
    background-color: var(--color-button1);
    color: var(--color-primary2);
}

.list-channels{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid var(--color-gray1);
}

.channel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    margin: 10px 0px;
    cursor: pointer;
}

.text-channel{
    background-color: var(--color-card-bg);
}

.audio-channel{
    background-color: var(--color-secundary);
}

.channel > span {
    color: var(--color-primary2);
}

.channel > button {
    margin-left: 20px;
}

.chat{
    width: 100%;
}

/* - - - - -- - - - - - - - */

.audio-chat{
    background-color: var(--color-primary2);

    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.media-images{
    display: flex;

    height: 100%;
    background-color: var(--color-gray1);
    margin: 10px;

    justify-content: center;
    align-content: center;
    padding: 30px;

}

.media-images img{
    width: 40%;
    border-radius: 50%;
    border: 10px solid white;
}

.media-controlls{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.controll-microphone{
    width: 50px;
    height: 50px;
    background-color: var(--color-button2);
    border: var(--color-button1) solid 2px;
    border-radius: 50%;
}

/* - - - - - - - - - - - - - - - - */

.text-chat{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    background-color: var(--color-card-bg);
}

.messages{
    height: 100%;
    background-color: var(--color-card-bg);
}

.text-box{
    display: flex;
    margin: 6px 0px;
    justify-content: space-between;
}

.text-box img{
    width: 40px;
    height: 40px;
    border: 2px solid white;
}

.text-box input{
    background-color: var(--color-primary2);
    border: none;
    width: 100%;
}

.text-box button{
    background-color: var(--color-button1);
    color: var(--color-primary2);
}

/* - - - - - - - - - - - - - - - */

.messages{
    overflow-y: scroll;
}

.message{
    display: flex;
    flex-direction: column;
    background-color: var(--color-button1);
    color: var(--color-primary2);
    margin: 20px 0px;
}

.message .user-message{
    display: flex;
    align-items: center;
}

.message p {
    padding: 10px;
}

.user-message > img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}